# Essential Libraries for Data Processing and Machine Learning

pandas  # For data manipulation and analysis
numpy  # For numerical operations
scikit-learn  # For machine learning algorithms and tools
imbalanced-learn  # For handling imbalanced datasets
streamlit # For building interactive web applications
